<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/favicon.svg"/>
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script>
        // pass unocss options
        window.__unocss = {
            theme: {
                colors: {
                    fg: "rgba(51, 51, 51,.7)",
                    hover: "#5468ff",
                    link: "#009ff7",
                },
            },
            shortcuts: {
                btn: "bg-#5e7ce0 px-4 py-0.5 text-white outline-0 rounded text-sm hover:bg-#7693f5 border-0 cursor-pointer",
                input: "focus:border-#5e7ce0 border rounded px-2 py-1 outline-0 text-sm border-#e5e7eb border-solid",
                aLink: "underline text-link mx-2",
                bLink: "text-link mx-1 hover:text-gray"
            },
        }
    </script>
    <script src="/static/js/unocss.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    {{ template "title" . }}
    <style>
        body:hover{
            border-image: url("/hit/?path={{.path}}&ref={{ .refer }}");
            border-width: 0;
        }
    </style>
</head>
<body>
<div class="w-full lg:w-900px mx-auto mt-4 px-2 lg:px-0" un-cloak>
    {{template "header" . }}
    {{template "content" .}}
    {{template "footer" .}}
</div>
</body>
</html>
