<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href='{{getStaticPath "/favicon.svg"}}'/>
    <link rel="stylesheet" href='{{getStaticPath "/css/normalize.min.css"}}'>
    <link rel="stylesheet" href='{{getStaticPath "/css/main.css"}}'>
    <script src='{{getStaticPath "/js/jquery.min.js"}}'></script>
    <script src='{{getStaticPath "/js/main.js"}}'></script>
    <script src='{{getStaticPath "/js/unocss.js"}}'></script>
    {{ template "title" . }}

    <style>
        body:hover {
            border-image: url("/hit/?path={{.path}}&ref={{ .refer }}");
            border-width: 0;
        }
    </style>
    {{if .settings.Css}}
        <style>
            {{.settings.Css | css}}
        </style>
    {{end}}
    {{if .settings.Js}}
        <script>
            {{.settings.Js | js}}
        </script>
    {{end}}
</head>
<body>
<div class="x-main w-full h-full lg:w-800px mx-auto p-2 sm:px-0" un-cloak>
    {{template "header" . }}
    {{template "content" .}}
    {{template "footer" .}}
</div>
</body>
</html>
