{{define "comment"}}
<div id="c-{{.Comment.CID}}" class="px-4 py-2 comment flex flex-row gap2 items-start">
    <div class="flex flex-col items-center cursor-pointer">
        <div class="text-coolGray hover:text-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path fill="currentColor" d="M1 21h22L12 2"/>
            </svg>
        </div>
        <div class="text-sm text-coolGray">{{.Comment.UpVote}}</div>
        {{if gt (len .Comment.Comments) 0}}
        <div class="text-gray  text-xs toggleComment" data-cid="{{.Comment.CID}}">[-]</div>
        {{end}}
    </div>
    <div class="flex flex-col flex-1">
        <div class="flex flex-row gap-2 text-gray text-xs">
            <div class="avatar">
                <a href="/u/profile/{{.Comment.User.Username}}"
                ><img class="w-5 h-5 rounded" src="https://i.pravatar.cc/30?img=1" alt=""
                /></a>
            </div>
            <div><a class="cursor-pointer  hover:text-hover" href="/u/profile/{{.Comment.User.Username}}">{{.Comment.User.Username}}</a>
            </div>
            <div class="when">{{.Comment.CreatedAt | timeAgo}}</div>
            <div>|</div>
            <div><a class="hover:text-hover" href="#c-{{.Comment.CID}}">链接</a></div>
            {{if  $.login}}
            <div>|</div>
            <div class="hover:text-hover reply cursor-pointer" data-cid="{{.Comment.CID}}">回复</div>
            {{end}}
        </div>
        <div class="text-sm">
            {{.Comment.Content | unEscapeHTML}}
        </div>

        <div class="hidden form-parent">
            <form method="post" action="/p/comment">
                <input type="hidden" name="post_pid" value="{{.Post.Pid}}">
                <input type="hidden" name="post_id" value="{{.Post.ID}}">
                <input type="hidden" name="parent_comment_id" value="{{.Comment.ID}}">
                <div class="flex flex-col gap-2 mt-4">
                                <textarea
                                        name="content"
                                        id="comment-{{.Comment.CID}}"
                                        cols="30"
                                        rows="5"
                                        class="input"
                                ></textarea>

                    <div class="flex flex-row gap2 mt-2">
                        <button class="btn" type="submit">发表评论</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

{{if gt (len .Comment.Comments) 0}}
<div class="comment-tree">
    {{range .Comment.Comments}}
    {{template "comment" dict "Comment" . "Post" $.Post}}
    {{end}}
</div>
{{end}}


{{end}}