{{define "footer"}}
<div class="flex flex-row gap2 items-center my-8 text-xs text-gray pt-2" style="border-top: 1px solid #eee">
    <div>@2023</div>
    <div>响应时间:{{.executionTime}}ms</div>
    <div class="ml-auto flex flex-row gap2">
{{/*        <div class="text-xs"><a class="underline" href="/moderations">审核日志</a></div>*/}}
        <div class="text-xs"><a class="underline" href="/about">关于本站</a></div>
    </div>

</div>
{{end}}