{{ define "title"}}<title>重置密码</title>{{ end }}

{{define "content"}}
<div class="flex flex-col gap2 mt-4 items-start">
    <p class="font-bold">重置密码</p>
    <div class="text-sm text-coolGray">
        如果你忘记你的密码了,在下面输入你的用户名或者邮箱,然后查收你的邮件,按照邮件指示去做.
    </div>
    <div class="flex flex-row items-center gap2">
        <label for="title" class="font-bold text-sm">用户名或邮箱</label>
        <input type="text" class="input" id="title" />
    </div>
    <button class="btn">找回密码</button>
</div>
{{end}}