{{ define "title"}}<title>搜索</title>{{ end }}

{{define "content"}}
<form action="/search" method="post">
    <p class="font-bold mb-2 text-5">搜索</p>

    <div class="flex flex-row gap-2 mt-2 text-sm">
        <div class="font-bold">类型</div>
        <div class="flex flex-row gap-2 items-center">
            <input type="radio" id="all" name="type" checked value=""/>
            <label for="all">不限</label>
            <input type="radio" id="link" name="type" value="link" />
            <label for="link">分享</label>
            <input type="radio" id="ask" name="type" value="ask"/>
            <label for="ask">讨论</label>
        </div>
    </div>

    <div class="flex flex-row gap-2 mt-2 text-sm">
        <div class="font-bold">排序</div>
        <div class="flex flex-row gap-2 items-center">
            <input type="radio" id="created" name="orderType" value="created" checked />
            <label for="created">创建时间</label>
            <input type="radio" id="index" name="orderType" value="index" />
            <label for="index">得分</label>
        </div>
    </div>

    <div class="flex flex-col gap-2 mt-2 items-start">
        <input type="name" class="input" name="q" value="{{.condition.Q}}"/>
        <button class="btn  px-4" type="submit">搜索</button>
    </div>
</form>
<script>
    const type = "{{.condition.Type}}"
    const orderType = "{{.condition.OrderType}}"
    if (type){
        $("#"+type).prop('checked',true)
    }
    if (orderType){
        $("#"+orderType).prop('checked',true)
    }
</script>

{{template "post" .}}


{{end}}